<div class="wrapper">
    <header>
      <div class="header-top">
        <img src="../assets/images/header.png" alt="header-top">
      </div>
    </header>
    <section>
      <div class="inner-section">
        <div class="left_sidebar">
          <div class="sidebar">
            <article class="user-info">
              <div class="content-wrap">
                <h3>
                  <span>Welcome</span>TEST NAME 0000000000
                </h3>
                <p></p>
                <div>Last Login: 22 Nov 2018,
                  06.28 PM</div>
                <div>Email: <span id="email-address"></span></div>
                <div>Mobile: <span id="mobile-number">XXXXXX4455</span></div>
                <p></p><a href="#" class="profile-link"
                  onclick="submitForm('/creditcards/app/myprofile/contact-details-page',true);setAnalyticsPost('My Profile')"><span
                    class="icon profile my-profile-icon"></span>My Profile</a>
              </div>
            </article>
            <div class="block">
              <ul class="tab-menu">
                <li>
                  <a href="#"
                    onclick="submitForm('/creditcards/app/dashboard',true);setAnalyticsPost('My Dashboard')"><span
                      class="icon dashboard"></span>My Dashboard </a>
                </li>
              </ul>
              <ul class="side-menu"><input type="hidden" name="unreadMailCount" value="0">
  
                <li>
                  <a href="javascript:void(0);" data-href="/creditcards" target=""
                    onclick="submitForm('/creditcards',false);setAnalyticsPost('My Accounts')"><span
                      class="icon user"></span>My Accounts <span class="arrow"></span>
                  </a>
                  <ul class="child-node">
                    <li data-val="Card Statements"><a href="javascript:void(0);"
                        data-href="/creditcards/app/myaccount/card-statements-page"
                        onclick="submitForm('/creditcards/app/myaccount/card-statements-page',true);setAnalyticsPost('Card Statements')">Card
                        Statements</a></li>
                    <li data-val="Unbilled Transactions"><a href="javascript:void(0);"
                        data-href="/creditcards/app/myaccount/unbilled-txn-page"
                        onclick="submitForm('/creditcards/app/myaccount/unbilled-txn-page',true);setAnalyticsPost('Unbilled Transactions')">Unbilled
                        Transactions</a></li>
                    <li data-val="Transaction History"><a href="javascript:void(0);"
                        data-href="/creditcards/app/myaccount/transaction-history-page"
                        onclick="submitForm('/creditcards/app/myaccount/transaction-history-page',true);setAnalyticsPost('Transaction History')">Transaction
                        History</a></li>
                    <li data-val="Payment History"><a href="javascript:void(0);"
                        data-href="/creditcards/app/myaccount/payment-history-page"
                        onclick="submitForm('/creditcards/app/myaccount/payment-history-page',true);setAnalyticsPost('Payment History')">Payment
                        History</a></li>
                    <li data-val="Add-on Card Details"><a href="javascript:void(0);"
                        data-href="/creditcards/app/myaccount/addon-card_detail-page/0"
                        onclick="submitForm('/creditcards/app/myaccount/addon-card_detail-page/0',true);setAnalyticsPost('Add-on Card Details')">Add-on
                        Card Details</a></li>
                    <li data-val="Spend Analyzer"><a href="javascript:void(0);"
                        data-href="/creditcards/app/myaccount/spend-analyzer"
                        onclick="submitForm('/creditcards/app/myaccount/spend-analyzer',true);setAnalyticsPost('Spend Analyzer')">Spend
                        Analyzer</a></li>
                    <li data-val="Submit KYC Documents"><a href="javascript:void(0);"
                        data-href="/creditcards/app/requests/know-your-customer"
                        onclick="submitForm('/creditcards/app/requests/know-your-customer',true);setAnalyticsPost('Submit KYC Documents')">Submit
                        KYC Documents</a></li>
                  </ul>
                </li>
                <li>
                  <a href="javascript:void(0);" data-href="/creditcards" target=""
                    onclick="submitForm('/creditcards',false);setAnalyticsPost('Benefits')"><span
                      class="icon thumb"></span>Benefits <span class="arrow"></span>
                  </a>
                  <ul class="child-node">
                    <li data-val="Track Booked Offers"><a href="javascript:void(0);"
                        data-href="/creditcards/app/benefits/track-booked-offers"
                        onclick="submitForm('/creditcards/app/benefits/track-booked-offers',true);setAnalyticsPost('Track Booked Offers')">Track
                        Booked Offers</a>
                    </li>
                  </ul>
                </li>
                <li class="active"><a href="javascript:void(0);" data-href="/creditcards" target=""
                    onclick="submitForm('/creditcards',false);setAnalyticsPost('etihad Privileges')"><span
                      class="icon thumb"></span>Etihad Privileges <span class="arrow"></span></a>
                  <ul class="child-node">
                    <li data-val="Etihad Guest Membership"><a class="etihad-priv" href="javascript:void(0);"
                        data-href="/creditcards/app/etihad-privileges/guest-membership"
                        onclick="submitForm('/creditcards/app/etihad-privileges/guest-membership',true);setAnalyticsPost('Track Booked Offers')">Etihad
                        Guest Membership</a>
                    </li>
                  </ul>
                </li>
                <li><a href="javascript:void(0);" data-href="/creditcards/app/offers/summary" target=""
                    onclick="submitForm('/creditcards/app/offers/summary',true);setAnalyticsPost('Offers')"><span
                      class="icon cards"></span>Offers </a></li>
                <li><a href="javascript:void(0);" data-href="/creditcards" target=""
                    onclick="submitForm('/creditcards',false);setAnalyticsPost('Requests')"><span
                      class="icon request"></span>Requests <span class="arrow"></span></a>
                  <ul class="child-node">
                    <li data-val="Report a Lost/Stolen Card"><a href="javascript:void(0);"
                        data-href="/creditcards/app/requests/report-stolen-page/0"
                        onclick="submitForm('/creditcards/app/requests/report-stolen-page/0',true);setAnalyticsPost('Report a Lost/Stolen Card')">Report
                        a Lost/Stolen Card</a></li>
                    <li data-val="Request for a Duplicate Statement"><a href="javascript:void(0);"
                        data-href="/creditcards/app/requests/duplicate-estatement-page"
                        onclick="submitForm('/creditcards/app/requests/duplicate-estatement-page',true);setAnalyticsPost('Request for a Duplicate Statement')">Request
                        for a Duplicate Statement</a></li>
                    <li data-val="Card Activation"><a href="javascript:void(0);"
                        data-href="/creditcards/app/requests/card-activation-page"
                        onclick="submitForm('/creditcards/app/requests/card-activation-page',true);setAnalyticsPost('Card Activation')">Card
                        Activation</a></li>
                    <li data-val="Track Service Request"><a href="javascript:void(0);"
                        data-href="/creditcards/app/requests/track-service-request"
                        onclick="submitForm('/creditcards/app/requests/track-service-request',true);setAnalyticsPost('Track Service Request')">Track
                        Service Request</a></li>
                    <li data-val="Opt for e-statement"><a href="javascript:void(0);"
                        data-href="/creditcards/app/requests/opt-for-estatement-page"
                        onclick="submitForm('/creditcards/app/requests/opt-for-estatement-page',true);setAnalyticsPost('Opt for e-statement')">Opt
                        for e-statement</a></li>
                    <li data-val="Add-on Card"><a href="javascript:void(0);"
                        data-href="/creditcards/app/requests/addon-card-request-page"
                        onclick="submitForm('/creditcards/app/requests/addon-card-request-page',true);setAnalyticsPost('Add-on Card')">Add-on
                        Card</a></li>
                    <li data-val="International Number Update"><a href="javascript:void(0);"
                        data-href="/creditcards/app/myprofile/contact-details-page?param=international-tab#international-tab"
                        onclick="submitForm('/creditcards/app/myprofile/contact-details-page?param=international-tab#international-tab',true);setAnalyticsPost('International Number Update')">International
                        Number Update</a></li>
                    <li data-val="Card Dispatch Status"><a href="javascript:void(0);"
                        data-href="/creditcards/app/requests/card-dispatch-status-page"
                        onclick="submitForm('/creditcards/app/requests/card-dispatch-status-page',true);setAnalyticsPost('Card Dispatch Status')">Card
                        Dispatch Status</a></li>
                    <li data-val="OTP for IVR/Moto"><a href="javascript:void(0);"
                        data-href="/creditcards/app/requests/send-otp-ivr-page"
                        onclick="submitForm('/creditcards/app/requests/send-otp-ivr-page',true);setAnalyticsPost('OTP for IVR/Moto')">OTP
                        for IVR/Moto</a></li>
                  </ul>
                </li>
                <li><a href="javascript:void(0);" data-href="/creditcards" target=""
                    onclick="submitForm('/creditcards',false);setAnalyticsPost('MailBox')"><span
                      class="icon webform"></span>MailBox <span class="arrow"></span><sup class="unReadClass">&nbsp;
                      0</sup></a>
                  <ul class="child-node">
                    <li data-val="Compose"><a href="javascript:void(0);"
                        data-href="/creditcards/app/webform/webform-interaction"
                        onclick="submitForm('/creditcards/app/webform/webform-interaction',true);setAnalyticsPost('Compose')">Compose</a>
                    </li>
                    <li data-val="My Interactions"><a href="javascript:void(0);"
                        data-href="/creditcards/app/webform/webform-interaction-inbox"
                        onclick="submitForm('/creditcards/app/webform/webform-interaction-inbox',true);setAnalyticsPost('My Interactions')">My
                        Interactions</a></li>
                  </ul>
                </li>
                <!-- <li><a href="/creditcards/app/alerts/summary"><span class="icon alert"></span>Alerts </a></li> -->
              </ul>
            </div>
            <div class="block padding-box">
              <article class="cta-unit">
                <h3>Running low on cash?</h3>
                <p>Apply for a free Add-on SBI Card for your family members. </p>
                <!-- <a href="/en/personal/pay.page" class="download-link" target="_blank" onclick="setAnalyticsPost('Apply Now.')">Apply
                                Now.</a>-->
                <!--p><a href="javascript:void(0);" onclick="submitForm('/creditcards/app/webform/custom-interaction/Aadhar',true);">Apply
                                        Now.</a></p-->
                <p><a href="javascript:void(0);"
                    onclick="submitForm('/creditcards/app/requests/addon-card-request-page',true);">Apply
                    Now.</a></p>
              </article>
            </div>
          </div>
        </div>
        <div class="view-alert-notify">
          <div class="my-card">
            <img src="../assets/images/my_card.png" alt="">
          </div>
          <section class="main-wrap etihad-card">
            <div class="col-row">
              <div class="col fifty">
                <h3>Etihad Guest Membership</h3>
              </div>
              <div class="col fifty fl-right">
                <p>
                  <a>Have Questions?</a>
                </p>
              </div>
              <p class="txt-left">Membership details as on 19 Nov 2018 since your last statement</p>
            </div>
          </section>
          <section class="main-wrap etihad-card-details">
            <div class="col-row">
              <div class="col thirty">
                <!-- Replace image path accordingly-->
                <img src="../assets/images/Airline-card-icon.png" class="card-img">
              </div>
              <div class="col sixty-five">
                <h3>Membership Details</h3>
                <p>Name : Vijay Kumar</p>
                <p>EYG Number : 340-567-2200</p>
                <p>Current Tier : Guest</p>
                <p>Expiry Date : 20 Dec 2020</p>
              </div>
            </div>
          </section>
          <section class="main-wrap card-statement-post">
            <h2>Reward Summary</h2>
            <div class="col-row gray-box reward-summary single-box">
              <div class="clear-float">
                <div class="col half no-border no-pad-bot ">
                  <h3>Etihad Guest Miles :</h3>
                </div>
                <div class="col half no-border no-pad-bot mob-no-pad-top">
                  <h3>0 Miles</h3>
                </div>
              </div>
              <p class="sub-text">Earned in current statement period<span class="redAsterisk">*</span></p>
            </div>
            <p class="reward-note"><span class="redAsterisk">*</span>Etihad Guest Miles are transferred to the Etihad
              Guest Program at the end of every statment period
            </p>
            <div class="col-row gray-box reward-summary custom-pad-h3">
              <div class="col half">
                <h3>Tier Miles Earned : 0 Miles</h3>
                <p>Earned in current statement period</p>
              </div>
  
              <div class="col half reward-summary">
                <h3>Total Tier Miles Earned : 0 Miles</h3>
                <p>Earned in current statement period<span class="redAsterisk">*</span></p>
              </div>
            </div>
            <p class="reward-note"><span class="redAsterisk">*</span>Current year represents 12 months from card issuance
              date
            </p>
          </section>
          <section class="main-wrap etihad-benefits">
            <p class="etihad-subtext">Activate the free offer to Etihad Gold Membership, by making transaction through
              your Etihad SBI card</p>
          </section>
        </div>
      </div>
  
    </section>
    <footer>
      <img src="../assets/images/footer.png" alt="footer image">
    </footer>
  </div>